[Unit]
Description=Universal Blue Update Oneshot Service
StartLimitBurst=3
StartLimitIntervalSec=600

[Service]
Type=oneshot
# Configure the checks using env vars
#Environment="UUPD_BATTERY_MIN_PERCENT=20"
#Environment="UUPD_NETWORK_MAX_BYTES=500000"
#Environment="UUPD_MEMORY_MAX_PERCENT=90"
#Environment="UUPD_CPU_MAX_LOAD_PERCENT=50"

# DO NOT CHANGE ANYTHING BELOW UNLESS YOU KNOW WHAT YOU ARE DOING
ExecStart=/usr/bin/uupd --config /etc/uupd/auto-config.json
# Restart on failure for edge cases like waking from suspend and wifi not connecting immediately
Restart=on-failure
RestartSec=60s
# Set SELinux context unconfined because bootc requires some special perms for relabeling (install_t????)
SELinuxContext=system_u:unconfined_r:unconfined_t:s0
